
.stage .door {
  width: 65px;
  height: 0;
  top: 85px;
  background: #efe8dd;
  border-bottom: 0 solid #bcb3a8;
  border-left: 7px solid #78552e;
  transform: translate3D(450px, 34px, 4px);
  animation: show-door 1.6s forwards;
  animation-delay: 4s; }