@import "portal";

$dudeWidth: 30px;
$dudeStartY: 60px;
$dudeOneRotate: 90deg;
$dudeTwoRotate: 0deg;
$dudeOneStartX: 214px;
$dudeOneStartZ: $portalZOffset - ($portalWidth/2) + ($dudeWidth/2);
$dudeTwoStartX: $bluePortalXOffset - ($portalWidth/2) + ($dudeWidth/2);
$dudeTwoStartZ: 0;

.stage .dude,
.stage .dude-shadow {
  width: $dudeWidth;
  height: 100px;
}
.stage .dude figure,
.stage .dude-shadow figure {
  display: block;
  background-color: black;
  position: absolute;
}
.stage .dude figure.head,
.stage .dude-shadow figure.head {
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 22px;
}
.stage .dude figure.body,
.stage .dude-shadow figure.body {
  top: 21px;
  width: 26px;
  height: 30px;
  border-radius: 30px 30px 0 0;
}

.stage .dude figure.body:before,
.stage .dude figure.body:after,
.stage .dude-shadow figure.body:before,
.stage .dude-shadow figure.body:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 15px;
  background-color: black;
  top: 30px;
}
.stage .dude figure.body:before, .stage .dude-shadow figure.body:before {
  left: 3px;
}
.stage .dude figure.body:after, .stage .dude-shadow figure.body:after {
  left: 14px;
}
.stage .dude.one {
  animation: move-dude-one 10s linear infinite;
  opacity: 0;
  //opacity: 1;
  animation-delay: 8s;
  transform: translate3D($dudeOneStartX, $dudeStartY, $dudeOneStartZ) rotateY(90deg);
}
.stage .dude-shadow.one {
  transform: translateX(-12px) rotateX(90deg) translateY(8px);
  opacity: 0.1;
}
.stage .dude.two {
  animation: move-dude-two 10s linear infinite;
  opacity: 0;
  animation-delay: 8s;
  transform: translate3D($dudeTwoStartX, $dudeStartY, $dudeTwoStartZ) rotateY(0deg);
}
.stage .dude.two figure.arm.left {
  position: absolute;
  width: 20px;
  height: 8px;
  background: black;
  left: -13px;
  top: 20px;
  transform: rotateZ(40deg);
  opacity: 0;
  animation: arms 10s linear infinite;
  animation-delay: 8s;
}
.stage .dude.two figure.arm.right {
  position: absolute;
  width: 20px;
  height: 8px;
  background: black;
  right: -10px;
  top: 20px;
  transform: rotateZ(-40deg);
  opacity: 0;
  animation: arms 10s linear infinite;
  animation-delay: 8s;
}
.stage .dude-shadow.two {
  transform: translateY(12px) translateX(-16px) translateZ(-6px) rotateZ(-90deg) rotateY($dudeOneRotate) rotateZ(50deg) skewX(30deg) scaleX(0.8);
  opacity: 0.1;
}

@keyframes move-dude-one {
  0% { //setup
    transform: translate3D($dudeOneStartX, -10px, $dudeOneStartZ) rotateY($dudeOneRotate) scaleY(2);
    opacity: 0; }

  1%, 18% { //land on stage
    transform: translate3D($dudeOneStartX, $dudeStartY, $dudeOneStartZ) rotateY($dudeOneRotate) scaleY(1);
    opacity: 1; }

  34%, 39% { //walk to hole
    transform: translate3D(10px, $dudeStartY, $dudeOneStartZ) rotateY($dudeOneRotate);
    opacity: 1; }

  41%, 42% { // jump into hole
    transform: translate3D(-$dudeWidth, $dudeStartY - 20, $dudeOneStartZ) rotateY($dudeOneRotate);
    opacity: 1; }

  43%, 100% {//go back to start
    transform: translate3D(-$dudeWidth, $dudeStartY, $dudeOneStartZ) rotateY($dudeOneRotate);
    opacity: 0; }
}


@keyframes move-dude-two {
  0%, 42% {
    transform: translate3D($dudeTwoStartX, $dudeStartY - 20, $dudeTwoStartZ) rotateY($dudeTwoRotate);
    opacity: 0; }
  42%, 44% {
    transform: translate3D($dudeTwoStartX, $dudeStartY, $dudeTwoStartZ) rotateY($dudeTwoRotate);
    opacity: 1; }

  44.5% {
    transform: translate3D($dudeTwoStartX, $dudeStartY, 20px) rotateY($dudeTwoRotate);
    display: block;
    opacity: 1; }

  46%, 75% {
    transform: translate3D($dudeTwoStartX, $dudeStartY, 120px) rotateY($dudeTwoRotate);
    opacity: 1; }

  76%, 97% {
    transform: translate3D($dudeTwoStartX, $dudeStartY, 120px) rotateY($dudeTwoRotate) scaleY(2);
    opacity: 0; }

  98%, 100% {
    transform: translate3D($dudeTwoStartX, $dudeStartY  , 120px) rotateY($dudeTwoRotate) scaleY(2);
    opacity: 0; }
}

@keyframes arms {
  0%, 53% {
    opacity: 0; }

  54%, 100% {
    opacity: 1; }
}